.nav {
	margin-top: 40px;
	padding: 0px;
	display: flex;
	flex-direction: column;
}

 
.nav li {
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
 }

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: stretch;
	padding-bottom: 10px;
	width: fit-content;
 }


 .active .bar {
	 background-color: #EA0848;
	 opacity: 1;
 }

.bar {
	height: 24px;
	width: 1px;
	background-color: #EA0848;
	opacity: 0;
	margin-right: 10px;
}

.item:hover {
	cursor: pointer;
}

.item:hover .bar{
	opacity: 0.5;
}

@media (max-width: 800px) {
	.nav {
		flex-direction: row;
		width: auto;
		justify-content: space-between;
	}

	.item {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0px;
	}

	.bar {
		width: 100%;
		height: 2px;
		margin: auto;
		margin-top: 5px;
	}

	.nav li {
		padding-right: 20px;
	}
	
}
