body { 
	background-color: #282828;
	margin: 0; 
	margin-left: 200px;
	margin-right: 200px;
}

.main {
	height: 100vh;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#menu {
	height: auto;
	max-width: 350px;
}

#content {
	height: auto;
	width: auto;
}

@media (max-width: 800px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	
}