@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
  --highlight: #eae6dc;
  --background: #181818;
}

body { 
	background-color: var(--background);
	margin: 0; 
	margin-top: 100px;
	margin-left: 3em;	
	margin-right: 3em;
  font-family: Inter;
}

h1 {
  font-size: 24px;
  margin: 0px; 
}

ul {
	list-style: none;
	padding: 0px;
}

ol {
  margin-bottom: 2em;
}

span {
	color:#EA0848;
}


footer {
    margin-bottom: 8.0em;
}


a {
	text-decoration: none;
	color: var(--highlight);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#profile {
	height: auto;
	max-width: 350px;
	margin-right: 5em;
}

@media (max-width: 800px) {
	body {
		margin-top: 30px;
    margin-left: 1em;
    margin-right: 1em;
	}

  p {
      font-size: 14px;
  }
	.main {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	
	#content {
		min-height: 10rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

	#menu {
		margin-right: 0px;
		margin-bottom: 2em;
	}
  
  #profile {
    height: auto;
    max-width: 350px;
    margin: 0px;
    width: 90vw;
    text-align: center;
  }

}
