body { 
	background-color: #282828;
	margin: 0; 
	margin-top: 100px;
	margin-left: 3em;	
	margin-right: 3em;
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#menu {
	height: auto;
	max-width: 350px;
	margin-right: 50px;
}

#content {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 25rem;
}

@media (max-width: 800px) {
	body {
		margin-top: 30px;
	}

	.main {
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	
	#content {
		min-height: 10rem;
	}

	#menu {
		margin-right: 0px;
		margin-bottom: 100px;
	}

	
}