#home-container {
	max-width: 700px;
	min-width: 350px;
	color: #ebdbb2;
	font-family: Andale Mono, monospace;
}

#home-container .section {
	margin-bottom: 4em;
}
#home-container li:hover {
    text-decoration: underline;
}
#home-container ul {
	list-style: none;
	padding: 0px;
}

#home-container p {
	max-width: 600px;
}

#home-container span {
	color: #EA0848;
}


@media (max-width: 800px) {
}