#contact-container {
	max-width: 700px;
  width: 25em;
	box-sizing: border-box;
	color: var(--highlight);
	display: flex;
	flex-direction: column;
	
}

#contact-container .form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
}

.form-input input {
	width: 100%;
	height: 2em;
	background-color: transparent;
	color: var(--highlight);
	border-width: 1px;
	border-color: var(--highlight);
	border-style: solid;
}

.form-input textarea {

	width: 100%;
	height: 18em;
	color: var(--highlight);
	background-color: transparent;
	border-width: 1px;
	border-color: var(--highlight);
	border-style: solid;
}

button {
	width: 100px;
	height: 40px;
	background-color: transparent;
	color: var(--highlight);
	border-color: var(--highlight);
	border-width: 1px;
	border-style: solid;
  margin-bottom: 2em;

}

button:hover {
	background-color: var(--highlight);
	color: var(--background);
}

@media (max-width: 800px) {
  #contact-container {
  }
}

