.container {
    height: fit-content;
    width: 350px;
    color: var(--highlight);
}
.profileimage {
	height: 80px;
	width: 80px;
	border-radius: 50px;
}

.profilecard h1 {
    font-size: 24px;
    margin: 10px 0px;
}

.profilecard p {
  font-size: 0.9em;
}

.list {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}

.list li {

    list-style-type: none;
    display: inline;
    margin-right: 18px;
}

.list img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
}

.list li:hover {
    cursor: pointer;
}



@media (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    p {
        font-size: 14px;
    }

}
